@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,500&display=swap');

@font-face {
    font-family: 'featured title';
    src: url('./fonts/Game\ Of\ Squids.otf') format('opentype');
    src: url('./fonts/Game\ Of\ Squids.ttf') format('truetype');
}

:root {
    /* fonts */
    --fectured-title: 'featured title', serif;
    --seconds-title: 'Cinzel', serif;
    --paragraphs: 'Poppins', sans-serif;

    /* colors  */
    --full-balck: #06070D;
    --darck-blue: #0E2440;
    --gray: #4D5D73;
    --pink: #F2D7B6;
    --soft-gray: #F2F2F2;
    --full-white: #fff;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}